artwork/
cfg/
chdman
docs/
gcc-4.2
hlsl/
jedutil
keymaps/
ldresample
ldverify
makefile
mame
mamehistory/
mess/
nplayers/
nvram/
obj/
regrep
romcmp
snap/
split
src/
src2html
srcclean
testkeys
unidasm
whatsnew*
messnew*
mame_0.139.orig.tar.gz
mame_0.141.orig.tar.bz2
.pc
hash/
