Source: mame
Section: non-free/games
Priority: optional
Maintainer: Ludovic Lechapt <ludomatic@gmail.com>
Build-Depends: debhelper (>= 7), quilt (>= 0.40), po-debconf, libexpat1-dev, libsdl1.2-dev, zlib1g-dev, libxinerama-dev, libgconf2-dev, libgtk2.0-dev
Standards-Version: 3.8.0
Vcs-Git: git://git.shaperstudio.com/mamedeb.git
Vcs-Browser: http://indefero.shaperstudio.com/p/mamedeb/source/tree/master/
Homepage: http://mamedev.org


Package: mame
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, wget
Suggests: mame-tools
Replaces: sdlmame
Breaks: sdlmame, xmame, xmame-common, xmame-gl, xmame-sdl, xmame-svga, xmame-x
Description: Multiple Arcade Machine Emulator (MAME)
 MAME is an emulator hardware: it faithfully reproduces the behavior of many
 arcade machines (it is not a simulation). This program is not a game but can
 directly, through ROM images, run the complete system of these old arcade
 machines. These ROMs are mostly subject to copyright and it is therefore
 illegal to use them if you do not own the arcade machine.
 .
 This package provides MAME binary and configuration files.
 .
 MAME by N. Salmoria and the MAME Team - http://mamedev.org
 SDL port by R. Belmont and O. Galibert - http://rbelmont.mameworld.info

Package: mame-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, wget
Recommends: mame (= ${source:Version})
Breaks: xmame-tools
Description: Tools for Multiple Arcade Machine Emulator (MAME)
 MAME is an emulator hardware: it faithfully reproduces the behavior of many
 arcade machines (it is not a simulation). This program is not a game but can
 directly, through ROM images, run the complete system of these old arcade
 machines. These ROMs are mostly subject to copyright and it is therefore
 illegal to use them if you do not own the arcade machine.
 .
 This package provides tools to be used with MAME :
 - chdman (MAME Compressed Hunks of Data CHD manager)
 - jedutil (binary to/from JEDEC file converter)
 - ldresample (Laserdisc audio synchronizer and resampler)
 - ldverify (Laserdisc AVI/CHD verifier)
 - regrep (Regression test report generator)
 - romcmp (ROM comparison utility program)
 - split (Simple file splitter/joiner with hashes)
 - src2html (MAME source code to HTML converter)
 - srcclean (Basic source code cleanear)
 - testkeys (Keyboard code viewer)
 - unidasm (Generic MAME disassembler)
 .
 MAME by N. Salmoria and the MAME Team - http://mamedev.org
 SDL port by R. Belmont and O. Galibert - http://rbelmont.mameworld.info
