#!/usr/bin/make -f
# -*- makefile -*-
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Default/i386/amd64 options from sdlmame rules file by Cesare Falco.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

# Override relevant make variables in original makefile
DEB_MAME_OPTS = \
    OPT_FLAGS="-D'INI_PATH=\"/etc/mame\"'" \
    FULLNAME=mame \
    TARGET=mame \
    SUBTARGET=mame \
    OSD=sdl \
    CROSS_BUILD_OSD= \
    TARGETOS=unix \
    PREFIX= \
    SUFFIX= \
    DEBUG= \
    PROFILER= \
    NOWERROR= \
    MACOSX_USE_LIBSDL= \
    BUILD_EXPAT= \
    BUILD_ZLIB= \
    SYMBOLS= \
    SYMLEVEL= \
    DUMPSYM= \
    PROFILE= \
    MAP= \
    VERBOSE= \
    OPTIMIZE=3 \
    DISTRO=ubuntu-intrepid

# Override make variables for specific archs
ifeq ($(DEB_HOST_ARCH),i386)
DEB_MAME_OPTS += \
    ARCHOPTS=-march=pentium2 \
    FORCE_DRC_C_BACKEND= \
    PTR64= \
    BIGENDIAN=
endif

ifeq ($(DEB_HOST_ARCH),amd64)
DEB_MAME_OPTS += \
    ARCHOPTS=-march=athlon64 \
    FORCE_DRC_C_BACKEND= \
    PTR64=1 \
    BIGENDIAN=
endif

#
# Add powerpc arch here
#

# Override dh_auto_build, dh_auto_clean and add support for Quilt patch system
include /usr/share/quilt/quilt.make

%:
	dh $@

override_dh_auto_build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh_testdir
	$(MAKE) -j3 $(DEB_MAME_OPTS) all
	touch $@

override_dh_auto_clean: unpatch
	dh_clean build-stamp
	$(MAKE) $(DEB_MAME_OPTS) clean

# Upstream sources from ZIP to TGZ
PACKAGE := $(shell dpkg-parsechangelog | sed -n 's/^Source: //p')
VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \(.*\)-.*/\1/p')
get-orig-source:
	rm -rf $@
	mkdir -p $@/$(PACKAGE)/$(PACKAGE)-$(VERSION)
	cd $@ && wget --user-agent="Debian package <ludomatic@gmail.com>" "http://mamedev.org/downloader.php?&file=$(PACKAGE)$(VERSION)s.zip"
	unzip -o $@/$(PACKAGE)$(VERSION)s.zip -d $@/$(PACKAGE)
	cd $@/$(PACKAGE) && unzip -o $@/$(PACKAGE)/$(PACKAGE).zip -d $@/$(PACKAGE)/$(PACKAGE)-$(VERSION)
	tar -cf - $(PACKAGE)-$(VERSION) | gzip -9f - > ../../$(PACKAGE)_$(VERSION).orig.tar.gz
	cd $@ && rm -rf $@/$(PACKAGE)
